@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100&family=Roboto:wght@400;700;900&family=Saira+Stencil+One&display=swap');

*{
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color:white;
}

.loading{
	position:fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}