.movieRow{
    
    margin-bottom: 20px;
    padding-left: 20px;
}

.movieRow h2{
    border-radius: 10px;
    width: fit-content;
    padding: 3px 5px;
}

.movieRow--listarea{
    overflow-x: hidden;
}

.movieRow--list{
    width: 99999999999px;
}

.movieRow--item{
    display: inline-block;
    width: 210px;
}

.movieRow--list .movieRow--item img{
    transform: scale(0.9);
    transition: all ease 0.4s;
    cursor: pointer;
}

.movieRow--item img:hover{
    transform: scale(1) ;
    transition: all ease 0.3s;
}
